 {% extends "lab_4/layout/base.html" %}

    {% block content %}
	{% load staticfiles %}
    <center><h1>Portofolio</h1></center>
    <hr/>
	<center><img class="img-circle" src="https://akimg0.ask.fm/assets2/019/827/812/608/normal/avatar.jpg"alt="My Image" width="150" height="150"></center>
		<center><h2>Ahmad Dzaki Naufal</h2></center>
    <section name="bio">
        <h2>Bio</h2>
        <p>
            {{content}}
        </p> 
    </section>
    <hr/>
    <section name="about_me">
        <h2>List</h2>
        <ul>
            {% for ii in about_me %}
            <li> {{ ii }} </li>
            {% endfor %}
        </ul>

    </section>
    <hr/>
    <section name="form">
        <h2>Send Message</h2>
        <form id="form" method="POST" action="{% url 'lab-4:add_message' %}">
            {% csrf_token %}
            {{ message_form }}
            <br>
            <button type="submit" class="btn btn-default">Submit</button>
        </form>
    </section>


    {% endblock %}
