{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="LAB 10">
    <meta name="author" content="{{author}}">

    <!-- bootstrap css -->
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://cdn.datatables.net/1.10.16/css/jquery.dataTables.min.css" rel="stylesheet">
    <link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.min.css">
    <style>
        .rata-tengah {
            text-align: center;
            margin : 20px;
        }
        .judul {
            text-transform:uppercase;
            margin-bottom: 50px;
            margin-top: 50px;
        }

         #myFooter{
            padding-top:32px;
        }

        #myFooter .container{
            text-align: center;
            margin-top: 10px;
        }

        #myFooter .footer-copyright{
            margin-bottom: 35px;
            text-align: center;
            color: #777;
        }


        #myFooter a{
            color: #282b2d;
            font-size: 18px;
        }

        #myFooter li{
            display: inline-block;
            margin: 0px 15px;
            line-height: 2;
        }

        #myFooter .footer-social{
            text-align: center;
            padding-top: 15px;
            padding-bottom: 15px;
            background-color: #eee;
        }

        #myFooter .fa{
            font-size: 16px;
            margin-right: 15px;
            margin-left: 20px;
            background-color: white;
            color: #d0d0d0;
            border-radius: 51%;
            height: 40px;
            width: 40px;
            text-align: center;
            line-height: 43px;
            text-decoration: none;
            transition:color 0.2s;
        }

        #myFooter .fa-facebook:hover{
           color: #2b55ff;
        }

        #myFooter .fa-facebook:focus{
            color: #2b55ff; 
        }

        #myFooter .fa-google-plus:hover{
            color:red;
        }

        #myFooter .fa-google-plus:focus{
            color:red;
        }

        #myFooter .fa-twitter:hover{
            color: #00aced;

        }

        #myFooter .fa-twitter:focus{
            color:#00aced;
        }

        #myFooter{
           flex: 0 0 auto;
           -webkit-flex: 0 0 auto;
        }

    </style>
    <title>
        {% if author %}
            Lab 10 By {{author}}
        {% else %}
            Lab 10
        {% endif %}

    </title>
</head>
<body>
<header>
    {% include "lab_10/partials/header.html" %}
</header>
<content>
    <div class="container">
        {% for message in messages %}
        <div class="alert {{ message.tags }} alert-dismissible" role="alert" id="django-messages">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close" style="margin-right: 15px;">
                <span aria-hidden="true">&times;</span>
            </button>
            {{ message }}
        </div>
        {% endfor %}

        {% block content %}
        <!-- Your Content Here -->
        {% endblock %}
    </div>
</content>
<footer>
    {% include "lab_10/partials/footer.html" %}
</footer>

<!-- Jquery n Bootstrap Script -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script>
<script type="application/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

</body>
</html>
